* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* FUENTES  */
@font-face {
    font-family: "daft-font";
    src: url(../fonts/Daft_Font.TTF);
}
@font-face {
    font-family: "rubik";
    src: url(../fonts/Rubik-Light.ttf);
}
@keyframes fade-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.fuenteRubik{
    font-family: "rubik";
}
/* ------------------- */

/* PALETA DE COLORES:  |  verde lima: #C2F50A  -  amarillo: #E7FF91  -  verde: #1ED98B  -  negro/gris: #0B0D0C  -  rojo: #D0002D */

/* ------------------- */
.bold {
    font-weight: bold;
}

p{
    color: aliceblue;
    font-family: "rubik";
}

hr{margin: 50px;}
.width100 {
    width: 100%;
}


/* HEADER */



.estiloNav {
    font-family: "daft-font";
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
    font-size: larger;
}

.estiloNav:hover {
    color: #E7FF91;
}

/* BODY */
body {
    background: #d0002d;
background: -webkit-linear-gradient(0deg, #d0002d 0%, #0b0d0c 100%);
background: linear-gradient(0deg, #d0002d 0%, #0b0d0c 100%);
}
main{
    animation-name: fade-in;
    animation-duration: 1s;
}

.titulo{
    font-family: "daft-font";
    font-size: xx-large;
}

.banner {
    animation-name: fade-in;
    animation-duration: 1s;

    font-family: "rubik";
    background-image: url(../img/banner.jpg);
    color: whitesmoke;
    height: 1000px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    text-align: center;
}
.spotify {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.spotify img {
    height: 250px;
}

/* ---- FOOTER ---- */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerImg {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

/* para cuando el footer se mueve por responsive: */
.footerFix{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

 /* ---- STYLE INTEGRANTES ---- */

    

    .tituloIntegrantes {
    font-family: "daft-font";
    color: #E7FF91;
    text-align: center;
    }
    .bannerIntegrantes {
        color: whitesmoke;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        justify-content: space-evenly;
    }

    .thomasDiv {
        display: flex;
        flex-direction: row;
        height: 710px;
        width: 35%;
    }
    .GuyManuelDiv {
        display: flex;
        flex-direction: row;
        height: 710px;
        width: 35%;
    }


    /* ---- IMAGENES ---- */
    .GuyManuelImg {
        height: 600px;
        width: 400px;
        border-radius: 20px;
    }
    .thomasImg {
        height: 600px;
        width: 400px;
        border-radius: 20px;
    }
    .GuyManuelImg:hover {filter: saturate(300%);}
    .thomasImg:hover {filter: saturate(300%);}

 /* TEXTOS INFO */
    .nombreIntegrantes {
        font-family: "daft-font";
        color: #E7FF91;
        font-size:xx-large;
    }

    .GuyManuelInfo, .thomasInfo {
        padding: 20px;
        font-size: larger;
    }

    
    /* ---- STYLE DISCOGRAFIA ---- */

    .discos {
        font-family: "rubik";
        color: aliceblue;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px;

        animation-name: fade-in;
        animation-duration: 1s;
    }

    .discosImg {
        height: 120px;      /* Cover de cada album */
        padding: 5px;
    }

    .infoDisco {        /* Para darle ancho maximo a la descripción de los albums. */
        max-width: 900px;
    }

    .albumsTitulos {
        padding-left: 15px;
    }

    .discografiaDiv {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        padding: 40px;
    }
    .discografiaDiv h1 {text-align: center;}
    #discografiaLista {
        display: flex;
        flex-direction: column;
    }

    /* ----- STYLES HISTORIA ----- */
    
    .historia h1{text-align: center; font-size: xx-large;}
    .historia h2{
        padding-top: 50px;
        text-align: center;
    }

    .historia p{
        padding: 50px;
    }

    .trayectoria {
        display: flex;
        flex-direction: row;
        align-items: center;
        animation-name: fade-in;
        animation-duration: 1s;
    }

    .trayectoria img, .trayectoria2 img {
        height: 300px;
    }

    .trayectoria2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .separacion {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .separacion iframe {
        padding-left: 50px;
    }

    /* ----- STYLE CONTACTO ----- */
    .contactoBody {
        background-image: url(../img/contactobackground.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
.contacto {
    color: aliceblue;
    font-family: "rubik";
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    animation-name: fade-in;
        animation-duration: 1s;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.formulario form input {
    background: none;
    border: 1px solid #E7FF91;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
    font-family: "rubik";
}

.sugerencia {
    height: 150px;
}

.contactoBtn {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0B0D0C;
    color: aliceblue;
    font-family: "daft-font";
    font-size: large;

    transition-duration: 0.4s;
}
.contactoBtn:hover {
    background-color: #E7FF91;
    color: #0B0D0C;
}

.contactoDiv{
    display: flex;
    justify-content: center;
}
.contactoDiv img{
    height: 190px;
}


.spotifyMobile {
    display: none;
}

.containerInfoMobile{display: none;}
.containerInfoMobile2{display: none;}
.fondoIntegrantesMobile{display: none;}

#buttonColor {
    background-color: #D0002D;
}
#buttonColor:hover {
    background-color: #0B0D0C;
    color: #D0002D;
    font-weight: bolder;
}
.iconos{
    height: 125px;
    width: 125px;
    border-radius: 10px;
}

.videoParaMobile {
    display: none;
}
.discografiaMobileSmall {
    display: none;
}


/* ------------- RESPONSIVE --------------- */


/* PORTATIL 1440px */
@media (max-width: 1440px) {
    /* SECCION INTEGRANTES */
    .thomasDiv {
        display: none;
    }
    .GuyManuelDiv {
        display: none;
    }
    .tituloIntegrantes {
        display: none;
    }

    .containerInfoMobile{
        color: whitesmoke;
        display: flex;
        font-weight: bolder;
        align-items: center;
    }

    .integrantesMobileMostrar{
        display: flex;
        flex-direction: column;
    }
    .tituloIntegrantesMobile {
        display: flex;
        font-family: "daft-font";
        color: #0B0D0C;
    }
    .fondoIntegrantesMobile{
        background-image: url(https://img2.goodfon.com/wallpaper/nbig/6/f7/cherno-beloe-foto-black-and.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 900px;
    }

}


/* TABLET 768px */
@media (max-width: 768px) {
    /* SECCION INICIO */
    .banner img{
        display: none;
    }
    .banner {
        background-image: url(https://wallpapercave.com/wp/wp77065.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
    }
    .spotifyMobile {
        display: none;
    }

    .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        margin: 0;
        width: 700px;
    }
    .separacion {
        display: flex;
        justify-content: center;
    }
    .separacion iframe{
        display: none;
    }
    .historia img {
        display: none;
    }

    h2 {
        font-size: small;
    }

    .trayectoria {
        display: flex;
        justify-content: center;
    }
    .trayectoria2 {
        display: flex;
        justify-content: center;
    }
    

    
}

/* MOBIL 425px */
@media (max-width: 425px) {
    footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    /* SECCION INICIO */
    .banner {
        background-image: url(https://r1.ilikewallpaper.net/iphone-wallpapers/download/5648/Daft-Punk-DJs-iphone-wallpaper-ilikewallpaper_com.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .spotify {
        display: none;
    }
    .spotifyMobile {
        display: flex;
    }

    /* SECCION INTEGRANTES */

    .footerText{
        display: none;
    }
    

    /* SECCION HISTORIA */
    .historia {
        display: none;
    }
    
    .videoParaMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-name: fade-in;
        animation-duration: 1s;
    }

    /* SECCION DISCOGRAFIA */
    .infoDisco{
        display: none;
    }
    .discos p {
        display: none;
    }
    .discos img {
        display: none;
    }
}

/* MOVIL 320px */
@media (max-width: 320px) {
    /* SECCION DISCOGRAFIA */
    .discografiaDiv {
        display: none;
    }
    .discografiaMobileSmall {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .discografiaMobileSmall iframe {
        padding: 5px;
    }
}